{% extends "djapp/base.html" %}
{% load static %}
{% block content %}

<div class="card-deck">
  <div class="card">
    <i class="fab fa-python fa-fw fa-5x fa-spin ml-5 mt-3 text-success"></i>
    <div class="card-body text">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-database fa-fw fa-5x ml-5 mt-3 text-info"></i>
    <div class="card-body text">
      <h5 class="card-title">Database Nomalization</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-laptop fa-fw fa-5x ml-5 mt-3 text-warning"></i>
    <div class="card-body text">
      <h5 class="card-title">Software Development</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>

{% endblock content %}