{% extends "djapp/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
	<div class="card text-white bg-info w-75 mb-4">
	  	<div class="card-body">
		  	<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
					<legend class="border-bottom mb-4">Log In</legend>
					{{ form|crispy }}
				</fieldset>
				<button class="btn btn-outline-warning" type="submit">Login</button>
			</form>
			<hr>
			<p>Need an account? <a class="text-white ml-2" href="{% url 'register' %}">Sign Up Now</a></p>
	  	</div>
	</div>

{% endblock content %}